/* Menu Module */
/* Mobile */
#module-menu .nav-item #btn-open-home .visual-indicator {
    visibility: visible;
}

#module-menu .nav-item .visual-indicator-badge {
    visibility: hidden;
    position: absolute !important;
    inset: 8px 8px auto auto !important;
}

#module-menu .nav-item .visual-indicator:not(.visual-indicator-badge) {
    visibility: hidden;
    position: absolute !important;
    inset: 4px -12px auto auto !important;
}

/* Desktop */
@media(min-width: 1024px) {
    #module-menu .nav-item .visual-indicator-badge {
        visibility: hidden;
        position: absolute !important;
        inset: 10px 16px auto auto !important;
    }

    #module-menu .nav-item .visual-indicator:not(.visual-indicator-badge) {
        visibility: hidden;
        position: absolute !important;
        inset: 6px -4px auto auto !important;
    }
}

.navbar:has(~ #dv-accounting-menu :is(.visual-indicator)) .nav-module > #btn-open-accounting > .visual-indicator,
.navbar:has(~ #dv-human-resources-menu :is(.visual-indicator)) .nav-module > #btn-open-human-resources > .visual-indicator,
.navbar:has(~ #dv-inventory-menu :is(.visual-indicator)) .nav-module > #btn-open-inventory > .visual-indicator,
.navbar:has(~ #dv-fleet-menu :is(.visual-indicator)) .nav-module > #btn-open-fleet > .visual-indicator,
.navbar:has(~ #dv-manage-menu :is(.visual-indicator)) .nav-module > #btn-open-manage > .visual-indicator {
    visibility: visible;
}

/* Menu Page */
/* Mobile */
.nav-mobile-menu-page .visual-indicator:not(.visual-indicator-badge) {
    position: absolute !important;
    inset: -12px -16px auto auto !important;
    background-color: var(--vds-danger);
    color: var(--vds-body-bg);
}

.nav-mobile-menu-page .visual-indicator-badge {
    position: absolute !important;
    inset: -4px -5px auto auto !important;
}

/* Desktop */
.nav-desktop-menu-page .visual-indicator {
    position: static !important;
    inset: unset !important;
}

.nav-desktop-menu-page .visual-indicator.visual-indicator-badge {
    block-size: 8px;
    inline-size: 8px;
}

/* Default Badge Styles */
.visual-indicator-badge {
    display: inline-block;
    background-color: var(--vds-danger);
    border-radius: 50%;
    block-size: 12px;
    inline-size: 12px;
    line-height: 150%;
    margin-left: 4px !important;
}

/* Default New and Beta Styles */
.visual-indicator-new,
.visual-indicator-beta {
    background-color: var(--vds-primary-bg-subtle);
    color: var(--vds-primary-text-emphasis);
    display: inline-block !important;
    height: 20px !important;
    font-size: 11px !important;
    font-weight: 600 !important;
    padding: 5px 6px !important;
    border-radius: var(--vds-border-radius) !important;
    margin-left: 8px;
    line-height: 100% !important;
    font-family: 'Lexend', sans-serif !important;
}